.form{
    width: 729px;
    padding: 30px 0;
    height: auto;
}
.line-text {
    padding: 9px 0;
    font-size: 20px;
    color: red;
    background: black;
    border-radius: 25px;
    width: 95%;
    text-align: center;
    margin: 10px auto;
    margin-left: 10px;
    border: 3px solid transparent;
    transition: .5s;
}
.line-text:hover{
      background: red;
      color: black;
      box-shadow: 0 0 10px 6px #000;
      border: 3px solid blue;
    
}
.form-text {
    font-size: 20px;
    color: #fcf800;
    padding: 0 60px;
    font-weight: 900;
    font-style: italic;
    font-family: initial;
    background: red;
    border: 3px solid transparent;
    border-radius: 20px;
    width: 95%;
    margin:10px auto;
    transition: .3s;
    
}
.form-text:hover{
    border: 3px solid white;
}
.form-text:focus{
    background: red;
}

.btn.btn-primary {
    width: 80%;
    border-radius: 92px;
    background: yellow;
    color: white;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    border: 2px solid red;
    margin-left: 49px;
    margin-top: 24px;
}
.btn.btn-primary:hover{
    border: 2px solid transparent;
    background: white;
    color: yellow;
    transition: .6s;
}
.btn.btn-primary:focus{
    box-shadow: 0 0 10px 10px red;
}



.check-box {
    padding: 17px 9px;
    margin-left: 44px;
}
.form-check-input{
       font-size: 25px;
       background: red;
       text-align: center;
}
.form-check-input:hover{
    cursor: pointer;
}
.form-check-input:focus{
    box-shadow: 0 0 20px rgb(89, 0, 255);
}
.form-check-label{
    color: red;
    font-size: 25px;
    font-weight: 800;
    font-size: italic;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-size: 42px;
    color: rebeccapurple;
    font-weight: 900;
    font-family: initial;
    font-style: italic;
}